@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primary-color: #28404a;

// Columbia-Sans (used for headers)
@font-face {
  font-family: 'Columbia-Sans';
  src: url('./static/fonts/columbia-sans/columbiasanswdisplay-medium.woff2')
      format('woff2'),
    url('./static/fonts/columbia-sans/columbiasanswdisplay-medium.eot?#iefix')
      format('embedded-opentype');
}

// Area font family is used for the following:
// a, p, span, ul, li, label, input, textarea, button
@font-face {
  font-family: 'Area-Extended';
  src: url('./static/fonts/area/Area\ Extended\ Black/AreaExtended-Black.woff2')
      format('woff2'),
    url('./static/fonts/area/Area\ Extended\ Black/AreaExtended-Black.woff')
      format('woff'),
    url('./static/fonts/area/Area\ Extended\ Black/AreaExtended-Black.otf')
      format('opentype');
}

@font-face {
  font-family: 'Area-Normal-Black';
  src: url('./static/fonts/area/Area\ Normal\ Black/AreaNormal-Black.woff2')
      format('woff2'),
    url('./static/fonts/area/Area\ Normal\ Black/AreaNormal-Black.woff')
      format('woff'),
    url('./static/fonts/area/Area\ Normal\ Black/AreaNormal-Black.otf')
      format('opentype');
}

@font-face {
  font-family: 'Area-Normal-Bold';
  src: url('./static/fonts/area/Area\ Normal\ Bold/AreaNormal-Bold.woff2')
      format('woff2'),
    url('./static/fonts/area/Area\ Normal\ Bold/AreaNormal-Bold.woff')
      format('woff'),
    url('./static/fonts/area/Area\ Normal\ Bold/AreaNormal-Bold.otf')
      format('opentype');
}

@font-face {
  font-family: 'Area-Normal-Semibold';
  src: url('./static/fonts/area/Area\ Normal\ Semibold/AreaNormal-Semibold.woff2')
      format('woff2'),
    url('./static/fonts/area/Area\ Normal\ Semibold/AreaNormal-Semibold.woff')
      format('woff'),
    url('./static/fonts/area/Area\ Normal\ Semibold/AreaNormal-Semibold.otf')
      format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Area-Normal-Semibold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
p,
span,
ul,
li,
label,
input,
textarea,
button {
  font-size: 12px;
  font-family: 'Area-Normal-Semibold', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-family: 'Columbia-Sans', sans-serif;
}

::-moz-selection {
  color: $primary-color;
  background: #f4ee46;
}

::selection {
  color: $primary-color;
  background: #f4ee46;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $primary-color;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 15px;
}

// #c8c8c8;
::-webkit-scrollbar-thumb {
  background-color: rgb(40, 64, 74);
  width: 8px;
  border-radius: 15px;
}

// @font-face {
//   font-family: 'Avenir-Book';
//   src: local('Avenir-Book'),
//     url('./static/fonts/avenir/Avenir-Book.otf') format('opentype');
// }
// @font-face {
//   font-family: Gilroy-Regular;
//   src: local('Gilroy-Regular'),
//     url('./static/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
// }
